@import url('https://fonts.googleapis.com/css?family=Varela+Round');
  #maintitle{
    width:auto;
  }
  header{
    width:960px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    background-color:white
  }

  main{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: white
  }
  footer{
    width: 100%;
    height: 100px;
    background-color: white;
    margin: 0 auto;
  }

  section{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: white;
    margin-bottom: 10px
  }
  nav {
    width: 400px;
    background-color: white;
    margin: 0 auto;
    height:auto;

  }

  nav ul{
    margin-left: -15px

  }
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;

  }
  nav ul li a{
    color: black;
    font-family:'Varela Round', sans-serif;
  }
  nav ul li a:hover{
    color: pink;
  }
  #white{
    color:pink;
    font-family:'Varela Round', sans-serif;
  }

  #black{
    color:black;
    font-family:'Varela Round', sans-serif;
  }

  .imageGallery{
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  .imageGallery2{
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
  img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

  #grid1{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
  }
  #grid2{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
  #grid3{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
  img {
display: block;
margin-left: auto;
margin-right: auto;
}
